.processButtonGroup {
    display: inline-flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 20px;
}
.processButtonGroup button{
    margin-right: 15px;
}

.container {
    margin-top: 0;
    margin: auto;
}